* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  font-family: Cabin, sans-serif;
  background-color: #586875;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 150px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 12px;
  color: white;
  color: #586875;
  text-align: justify;
  background-color: #f4f7f7;
  box-shadow: 0 10px 20px #0006;
}

.post__title {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.post__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.post__buttons button + button {
  margin-left: 10px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.page__wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0 0;
  padding-bottom: 30px;
}

.page {
  padding: 10px;
  border: 1px solid #008080;
  color: #586875;
  cursor: pointer;
  background-color: #f4f7f7;
}

.page__current {
  font-weight: bold;
  background-color: #bdd6d2;
}
